@model ContactManager.Models.Contact
@{
    ViewData["Title"] = "Edit Contact";
}

<h2>Edit Contact</h2>

<form asp-action="Edit" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <input type="hidden" asp-for="ContactId" />

    <div class="form-group">
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName" class="form-control" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="LastName"></label>
        <input asp-for="LastName" class="form-control" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Phone"></label>
        <input asp-for="Phone" class="form-control" />
        <span asp-validation-for="Phone" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Organization"></label>
        <input asp-for="Organization" class="form-control" />
        <span asp-validation-for="Organization" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="CategoryId"></label>
        <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId">
            <option value="0">Select a category</option>
        </select>
        <span asp-validation-for="CategoryId" class="text-danger"></span>
    </div>

 
    <input type="hidden" asp-for="DateAdded" />

    <button type="submit" class="btn btn-primary">Save</button>
    <a class="btn btn-secondary"
       asp-action="Details"
       asp-route-id="@Model.ContactId"
       asp-route-slug="@Model.Slug">Cancel</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
